<div class="row">
    <div class="col s12 login-title"><h3>Create Account</h3></div>
    <div class="col s5"></div>
    <div class="col s2 test">
        <form method="POST" action="/user/create">
                <input placeholder="Username" id="first_name" type="text" class="login" name="username" minlength="3" maxlength="16" required>
                <input placeholder="Password" id="password" type="password" class="login" name="password" minlength="10" required>
                <input placeholder="Confirm Password" id="confirmPassword" type="password" class="login" name="confirmPassword" required>
                <button class="btn waves-effect waves-red valign-wrapper loginbtn" type="submit" name="action">Login</button>
        </form>
    </div>
    <div class="col s5"></div>
</div>