
<div class="container">
    <div class="row s12">
        <h2>Welcome</h2>
    </div>
    <div class="row s12">
        <h5>Create an account to create a snippet!</h3>
    </div>
    <div class="row s12">
        <pre><code class="language-{{viewData.language}} line-numbers">{{viewData.homePageSnippet}}</code></pre>
    </div>
</div>